.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

/* lifts.html */
.nav {
    background-color: rgb(58, 51, 51);
    overflow: hidden;
    margin: 0px;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav a.active {
    background-color: #4CAF50;
    color: white;
}

body {
    margin: 0px;
}

main {
    margin-left: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}